*{
    padding: 0;
    margin: 0;
}
.navbar{
    background-color: red;
    width: 100%;
    height: 50px;

}

.navbar ul{
   
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.w{
     background-color: white;
    width: 60%;
    height: 30px;
     margin: 20px auto;
    border-radius: 5px;
}

.navbar ul li a{
    text-decoration: none;
    
}